@import "../../../assets/theme/_var.scss";
@import "../../../assets/theme/_mixins.scss";

.goBackButtonStyle {
  display: inline-block;
  text-decoration: none;
  @include theme() {
    color: theme-get("linkColor");
  }
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  @media (max-width: 767px) {
    font-size: 14px;
  }
  &:hover {
    @include theme() {
      color: theme-get("linkActvie");
    }
    .back_arrow {
      path {
        @include theme() {
          fill: theme-get("linkActvie");
          -webkit-transition: all ease 0.5s;
        }
      }
    }
  }
  .back_arrow {
    margin-right: 10px;
    path {
      @include theme() {
        fill: theme-get("linkColor");
        -webkit-transition: all ease 0.5s;
      }
    }
  }
}
