@import "../../../assets/theme/_var.scss";
@import "../../../assets/theme/_mixins.scss";

.footer {
  // margin-top: 40px;
  @include theme() {
    background-color: theme-get("baseBg");
  }
  .ant-row {
    justify-content: center;
  }
  .footer_links {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;

    @media (max-width: 991px) {
      flex-wrap: wrap;
      padding: 15px 0 75px;
    }

    li {
      a {
        @include theme() {
          color: theme-get("linkColor");
        }
        font-size: 14px;
        margin: 0 20px;
        text-transform: uppercase;
        text-decoration: none;
        @media (max-width: 767px) {
          font-size: 11px;
          margin: 0 8px;
        }
      }
    }
  }
}
